.content {
    position: absolute;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        .name {
            color: #F5F5F5;
            line-height: 30px;
        }
    }
}